@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('./assets/JetBrainsMono-Regular.woff2') format('woff2 supports variations'),
    url('./assets/JetBrainsMono-Regular.woff2') format('woff2-variations');
  font-weight: 400;
}
@font-face {
  font-family: 'XanhMono';
  src:
    url('./assets/XanhMono-Italic.ttf') format('truetype supports variations'),
    url('./assets/XanhMono-Italic.ttf') format('truetype-variations');
  font-weight: 400;
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fce9e9;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'JetBrains Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
body > * {
  margin: 0 2rem 3rem;
}
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
header img {
  display: inline-block;
  margin: 0 auto;
  max-width: 90vw;
  z-index: 1;
}
section {
  margin-bottom: 3rem;
  padding-left: 10rem;
  max-width: 43rem;
  font-size: 1.3rem;
  line-height: 1.9rem;

  background-repeat: no-repeat;
  background-position: 0 17px;
  background-size: 3rem;

  color: #5B4594;
}
section#what-is-unconf {
  background-image: url('./assets/sections/interface-essential-question-help-square.svg');
}
section#talk {
  background-image: url('./assets/sections/content-files-open-book.svg');
}
section#history {
  background-image: url('./assets/sections/email-mail-chat.svg');
}
section#food {
  background-image: url('./assets/sections/food-drink-pizza.svg');
}
section#childcare {
  background-image: url('./assets/sections/food-drink-desert-cotton-candy.svg');
}
section#location {
  background-image: url('./assets/sections/real-estate-building-house.svg');
}
section#inclusivity-diversity {
  background-image: url('./assets/sections/multiple-user.svg');
}
section#code-of-conduct {
  background-image: url('./assets/sections/hand-cross-finger-heart.svg');
}
section#accessibility {
  background-image: url('./assets/sections/business-products-deal-handshake.svg');
}
section#contact {
  background-image: url('./assets/sections/email-envelope-close.svg');
}

h2 {
  margin: 0 0 1rem;
  font-family: 'XanhMono', sans-serif;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline;
  line-height: 4.5rem;
  color: #5B4594;
}
h3 {
  font-family: 'XanhMono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5c4594;
}

a {
  color: #E85554;
}

footer {
  margin-bottom: 3rem;
}
.link-icon {
  height: 1rem;
  margin-right: 0.4rem;
}
